$bcolor: #292929;
%redColor{
    color: rgb(255, 0, 0);
}

#header-1 {
    background: $bcolor;
    .text-name{
        @extend %redColor;
    }
}
#content-1{
    $width: 960px;
    $column: $width/4;
    #stuff-1 {
        width: 1*$column;
        .text-1{
            @extend %redColor;
        }
    }
    #main-content-1{
        width: 2*$column;
        .text-1{
            @extend %redColor;
        }
    }
    #navigation-1{
        width: 1*$column;
        .text-1{
            @extend %redColor;
        }
    }
}
@mixin example(){
    position: inherit;
    font-weight: bold;
    text-align: center;
} 
.text-name {
    @include example(); 
}
.text-1 {
    @include example(); 
}